.nav-item {
    margin-left: 10px;
}

.example-height {
    min-height: 90vh;
}

.inner-block {
    -webkit-box-shadow: 9px 7px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 7px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 9px 7px 21px -5px rgba(0,0,0,0.75);
    height:100%; 
    margin-top:70px;
    padding: 15px;
}
.left-inner-inner-block {
    width: 100%; 
    height: 77%; 
    background-color:#0094f9; 
    border-radius: 5px; 
    padding: 3%; 
    color: white; 
    border: 1px solid #0094f9;
}

.copFooter {
    -webkit-box-shadow: 9px 7px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 7px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 9px 7px 21px -5px rgba(0,0,0,0.75);
}

.footer-container {
    margin-top:90px; 
    margin-bottom: 20px;
}

.ellipsis {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    height: 6em;
    overflow-y: hidden;
}
